
.pofw-product-options-wrapper {margin-bottom: 20px;}
.pofw-product-options-wrapper .field {margin-bottom: 10px;}
.pofw-product-options-wrapper .field > label {font-weight: bold;}
.pofw-product-options-wrapper .field.pofw-required > label:after {
    color: #e32;
    content: ' *';
    display:inline;
}
.pofw-product-options-wrapper .field .control select {height:initial; line-height: inherit;}
.pofw-product-options-wrapper .field .control input[type="text"] {width: initial; padding:initial; line-height: inherit;}
.pofw-product-options-wrapper .field .control .choice label {display:inline;} 
.pofw-product-options-wrapper .field .control .choice input[type="radio"],
.pofw-product-options-wrapper .field .control .choice input[type="checkbox"] {width: auto;}

.pofw-product-options-wrapper .field.pofw-required.pofw-not-valid .control input[type="text"],
.pofw-product-options-wrapper .field.pofw-required.pofw-not-valid .control .options-list {border: 1px dotted red;}
.pofw-product-options-wrapper .field.pofw-required.pofw-not-valid .pofw-required-text {color: red; font-style: italic;}
